

/* ---------------------------------------------- colors ------------------------------------------ */

:root {
    --primary-color:#4D281F;
    --secondary-color: #0d3c61;
    --tertiary-color: #CCC;
    --quaternary-color: #a5a58d;
    --quinary-forecolor: #14213d;
    --text-color: #555;
    --dark-color: #222;
    --white-color: #fff;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --question-color: #F4B400;
    --btn-red-color: #d9534f;
}

.green {
    color: var(--success-color);
}

.red {
    color: var(--error-color);
}

/* ---------------------------------------------- tags -------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
	color: var(--text-color);
    background-color: #f8edeb;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
    box-sizing: border-box;
}

header {
    padding: 0;
    margin: 0;
    margin-bottom: 10rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/children01.jpg);
	background-size: cover;
	background-attachment: fixed;
    background-color: var(--dark-color);
}

/* ---------------------------------------------- common ------------------------------------------ */

.container {
    width: 70rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* ---------------------------------------------- nav --------------------------------------------- */

.nav-container {
    background: transparent;
    /* position: fixed;
    top: 0; */
    width: 100%;
    transition: 1s ease;
}

.nav {
    display: grid;
    grid-template-areas: "nav-header nav-header nav-header";
}

.nav-container.degrad {
    background: #000;
}

.nav-container.degrad a {
    color: var(--white-color);
}

.logo {
    grid-area: "nav-header";
}

.navs {
    grid-area: "nav-header";
}

.cart {
    display: none;
    grid-area: "nav-header";
}

.nav_links {
    vertical-align: middle;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    /* border: 1px solid green; */
}

.nav_links li {
    display: inline-block;
    padding: 1rem;
}

.nav_links a {
    color: var(--white-color);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.fa-times, .fa-bars {
    display: none;
}

/* ---------------------------------------------- hero -------------------------------------------- */

.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding: 0;
    /* margin-top: 1rem; */
    /* border: 1px solid magenta; */
}

.hero p {
    margin: 3rem 0;
}

.hero-left, .hero-center, .hero-right {
    padding: 1rem;
}

.hero-left .btn {
    text-decoration: none;
    background-color: var(--btn-red-color);
    color: var(--white-color);
    padding: 1rem;
}

.hero-left {
    /* justify-content: space-around; */
}

.hero-center img {
    width: 100%;
}

.hero-right {
}

/* ---------------------------------------------- missions ---------------------------------------- */

section {
    text-align: center;
    padding-bottom: 70px;
}

section h2 {
    font-size: 50px;
    text-transform: capitalize;
}
/* ---------------------------------------------- task ---------------------------------------- */

.task-rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.task {
    text-align: center;
    border-radius: 70px;
    margin-bottom: 20px;
    color: var(--text-color);
    position: relative;
}

.task:hover .overlay {
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,.5), var(--primary-color));
    opacity: 0;
    transition: 1s;
}

.task-title,.task-desc  {
    color: var(--white-color);
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}

.task-title {
    font-size: 3rem;
    font-weight: bolder;
    bottom: 30%;
}

.task-desc {
    bottom: 20%;
    opacity: 0;
}

.task-desc p {
    font-size: 1.5rem;
}

.task:hover .task-desc {
    bottom: 10%;
    opacity: 1;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

/* ---------------------------------------------- missions ---------------------------------------- */

.section-missions {
    padding: 2rem;
}

.task-rows .furnitures {
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/furnitures.jpg);
    background-position: center;
    background-size: cover;
    /* height: 91vh; */
}

.task-rows .water {
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/water-well.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
}

.task-rows .help {
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/help.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
}

/* ---------------------------------------------- projets ----------------------------------------- */

.section-projets {
    padding: 2rem;
}

.task-rows .orphanage {
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/orphanage.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
}

.task-rows .sponsorship {
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/sponsorship.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
}

.task-rows .farms {
    border-radius: 7px;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/farms.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
}

/* ---------------------------------------------- donate ------------------------------------------ */

.section-donate {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3)), url(../img/children06.jpg);
    background-position: center;
    background-size: cover;
    height: 91vh;
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.section-donate form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 1rem;

    grid-column: 2/ span 3;
    grid-row: 1 / span 2;
}

.section-donate fieldset {
    border: none;
}

.section-donate .header {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.donate-header {
    background-color: var(--white-color);
    margin: 3rem;
    padding: .5rem;
    grid-column: 1/2;
    grid-row: 2/ 3;
}

.hide { display: none; }

.show { display: block; }

.radio-options {
    font-size: .9em;  
    margin: 0 0.5rem;
    text-transform: capitalize;
}

.check-options {
    margin: 0 0.5rem;
    padding: 1rem;
}

.check-options:hover, .radio-options:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.form .label{
    display: block;
    color: var(--text-color);
    margin-bottom: 6px;
}
  
input, textarea {
    padding: .5rem 0;
    width: 100%;
    text-align: center;
    border: none;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: .9rem;
    color: var(--text-color);
}

textarea {
    resize: none;
}

select {
    width: 100%;
    padding: 4px;
    height: 2.2rem;
    background: #fff;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: .9rem;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.label-select:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 15px;
    /* padding: 1rem 0 2px; */
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 4px;
    background-color: #ddd;
    padding-bottom: 3px;
    position: absolute;
    pointer-events: none;
}

.label-select:before {
    content: "";
    right: 6px;
    top: 0px;
    background: #eee;
    position: absolute;
    pointer-events: none;
    display: block;
}

.label-select {
    position: relative;
    width: 50%;
}

.paymentmethods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
}

.paymentmethods i {
    font-size: 2rem;
    transition: 1s ease;
}

.card-grp {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 48%;
}

.space {
    margin-bottom: 20px;
}

.space-r { margin-right: .1rem;}

.icon-relative {
    position: relative;
}

.icon-relative .fas,
.icon-relative .far{
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: var(--text-color);
}

.btn {
    background: var(--btn-red-color);
    padding: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--light-color);
    cursor: pointer;
}
/* ---------------------------------------------- donation ------------------------------------------ */

.donation {
    opacity: .9;
    background-color: var(--tertiary-color);
    grid-column: 1/2;
    grid-row: 1/ 2;
}

input[type="radio"].custom-radio {
    display: none;
}

input[type="checkbox"].custom-check {
    display: none;
}

.donate-one, .donate-repeat {
    border: 1px solid var(--btn-red-color);
    padding: 1rem;
    transition: 1s ease;
}

.donate-times-checked, .amount-checked {
    background-color: var(--btn-red-color) !important;
    color: var(--white-color) !important;
}

.donate-times-checked label {
    color: var(--white-color);
}
.times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.amount {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.amount label {
    background-color: var(--white-color);
    padding: 1rem;
    font-size: .7rem;
    font-weight: 600;
}

.amount label:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.amount-container {
    margin: 1rem !important;
}

/* ---------------------------------------------- coordonates ------------------------------------------ */

.coordonates {
    opacity: .9;
    background-color: var(--tertiary-color);
    grid-column: 2/3;
    grid-row: 1/ span 3;
}

.country-code, .contact-country-code {
    background: #eee;
    padding: .5rem;
}

.civil select {
    width: 90%;
}

.civil {
    width: 40%;
}

/* ---------------------------------------------- payment ------------------------------------------ */

.payment {
    opacity: .9;
    background-color: var(--tertiary-color);
    height: auto;
    position: relative;
    grid-column: 3/4;
    grid-row: 1 / 3;
}

.creditcardbox, .ibanbox {
    display: none;
    transition: 1s ease;
}

#expirydate {
    width: 75%;
    margin-right: 1rem;
}

@media screen and (max-width: 420px){
    .card-grp {
        flex-direction: column;
    }
    .card-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 20px;
    }
}

/* ---------------------------------------------- numbers ------------------------------------------ */

.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.number {
    border: 1px solid var(--btn-red-color);
    padding: 3rem;
}

.number i {
    color: var(--btn-red-color);
    font-size: 2rem;
    margin: 1rem;
}

.number .num-count {
    margin-bottom: 1rem;
}

.number .count {
    font-size: 3rem;
    margin-right: .5rem;
}

.number .what {
    font-size: .7rem;
    text-transform: uppercase;
}

/* ---------------------------------------------- testimonials ------------------------------------ */

.section-testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/testimonials.jpg);
	background-size: cover;
	background-attachment: fixed;
    color: var(--white-color);
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.testimony {
    transition: 1s ease;
}

.testimony:hover {
    border: .5px solid var(--btn-red-color);
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
}

blockquote::before {
	content: "\201C";
	font-size: 500%;
	display: block;
	position: absolute;
	top: 1;
	left: -1rem;
}

blockquote::after {
	content: "\201D";
	font-size: 500%;
	display: block;
	position: absolute;
	top: 1;
	right: 1rem;
}


cite {
	display: block;
    font-weight: bold;
    font-size: 1rem;
}

cite img {
    width: 4rem;
	border-radius: 50%;
	margin-right: 5%;
	vertical-align: middle;
}

/* ---------------------------------------------- testimonials ------------------------------------ */

#section-contact form {
    background-color: var(--quaternary-color);
    margin: 3rem 10rem;
    padding: 5rem;
}

/* ---------------------------------------------- footer ------------------------------------------ */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 15rem 10rem 2rem;
    border-top: 1px solid var(--secondary-color);

    letter-spacing: .5px;
    word-spacing: .3rem;
}

footer p, footer a {
    font-size: .7rem
}

.newsletter {
    grid-column: 4/5;
    grid-row: 1 / span 2;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem;
}

.newsletter .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.presentation {
    margin-left: 3rem;
    padding: 1rem;
}

.presentation img {
    width: 5rem;
}

.vosdons {
    padding: 1rem;
}

.vosespaces {
    padding: 1rem;
}

.vosespaces ul {
    vertical-align: middle;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.vosespaces a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

.social {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.social {
    text-align: center;
}

.social i {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid var(--btn-red-color);
    margin: 40px 5px 0;
    color: var(--btn-red-color);
    cursor: pointer;
    transition: .5s;
}

.social i:hover {
    background: var(--btn-red-color);
    color: var(--white-color);
    transform: translateY(-7px);
}

.address {
    padding: 1rem;
    font-size: .7rem;
}

.addcameroon {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.addfrance {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 3rem;
}

.copyright {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    place-content: center ;
    grid-column: 1 / span 4;
    grid-row: 3 / 4;
    background-color: var(--quinary-forecolor);
    color: var(--white-color);
    font-size: .7rem
}

.copyright a {
    color: var(--white-color);
    font-size: .7rem;
    text-decoration: none;
}